*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.904);
    overflow-x: hidden;
    transition: all 1s;
}
.spone{
    background-image: url(push.webp);
    background-size:cover;
    animation: animie 10s  infinite;
    position: relative;
    z-index: 2;
    background-color: black;
    width: 100%;
    height: 22vw;
}

@keyframes animie {
    10%{
        background-image: url(push.webp);
    }
    50%{
        background-image: url(bet.png);
    }
}

.first{
    position: relative;
    width: fit-content;
    height: 30%;
    margin-left: 20vw;
    top:2.5vw ;
    
}
.second{
    width: fit-content;
    height: 20%;
    margin-top: 2.5vw;
    margin-left: 20vw;
}
.lm{
    position: absolute;
    width: 3vw;
    height: 2.5vw;
    left: 2vw;
    top: 3vw;
    background-color:indigo;
    border-radius: 2.5vw 0vw 0vw 2.5vw;
}
.dm{
    position: absolute;
    left: 6vw;
    width: 3vw;
    height: 2.5vw;
    top: 3vw;
    background-color: darkgreen;
    border-radius: 0vw 2.5vw 2.5vw 0vw;
}
nav{
    background-color: darkgreen;
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: sticky;
    top: 0;
    z-index:1;
}
.drawertoggle{
    width: 8vw;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    margin-right: 1vw;
}


.cube{
    position: relative;
    width: 4.2vw;
    height: 2.1vw;
    margin-top: 0.8vw;
    transform-style: preserve-3d;
    animation: animate 0.8s linear infinite;
    
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width:4vw;
    height:2.1vw;
    background-color: black;
    transform: rotateX(90deg) translateZ(1.04vw);
}
.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:2.1vw;
    height:2.1vw;
    background: lightgreen;
    transform: translateZ(-2.7vw);
    filter: blur(0.2vw);
    box-shadow: 0 0 150px rgba(0,255,0,0.2),
    0 0 12px rgba(0,255,0,0.4)
    0 0 13px rgba(0,255,0,0.6)
    0 0 14px rgba(0,255,0,0.8)
    0 0 15px rgba(0,255,0,1);
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 128, 0));
    transform: rotatey(calc(90deg * var(--i))) translateZ(1.04vw);
}



.cube4{
    display: none;
    position: relative;
    width: 4.2vw;
    height: 2.1vw;
    margin-top: 0.8vw;
    transform-style: preserve-3d;
    animation: animate4 0.8s linear infinite;
    
}
@keyframes animate4 {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.top4{
    position: absolute;
    top: 0;
    left: 0;
    width:4vw;
    height:2.1vw;
    background-color: black;
    transform: rotateX(90deg) translateZ(1.04vw);
}
.top4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:2.1vw;
    height:2.1vw;
    background: plum;
    transform: translateZ(-2.7vw);
    filter: blur(0.2vw);
    box-shadow: 0 0 150px indigo,
    0 0 12px indigo
    0 0 13px indigo
    0 0 14px indigo
    0 0 15px indigo;
}
.cube4 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube4 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(indigo, plum);
    transform: rotatey(calc(90deg * var(--i))) translateZ(1.04vw);
}




.cube2{
    position: absolute;
    width: 6vw;
    height: 6vw;
    transform-style: preserve-3d;
    animation: animate2 5s linear infinite;
    margin-bottom: 1vw;
    margin-left: 1.3vw;
}
@keyframes animate2 {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.top2{
    position: absolute;
    top: 0;
    left: 0;
    width:6vw;
    height:6vw;
    background-color: black;
    transform: rotateX(90deg) translateZ(2.9vw);
}
.top2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:6vw;
    height:6vw;
    background: lightgreen;
    transform: translateZ(-8vw);
    filter: blur(0.2vw);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.4)
    0 0 300px rgba(0,255,0,0.6)
    0 0 400px rgba(0,255,0,0.8)
    0 0 500px rgba(0,255,0,1);
}
.cube2 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube2 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 128, 0));
    transform: rotatey(calc(90deg * var(--i))) translateZ(2.9vw);
}
.cube3{
    display: none;
    position: absolute;
    width: 6vw;
    height: 6vw;
    transform-style: preserve-3d;
    animation: animate3 5s linear infinite;
    margin-bottom: 1vw;
    margin-left: 1.3vw;
}
@keyframes animate3 {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.top3{
    position: absolute;
    top: 0;
    left: 0;
    width:6vw;
    height:6vw;
    background-color: black;
    transform: rotateX(90deg) translateZ(2.9vw);
}
.top3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:6vw;
    height:6vw;
    background: plum;
    transform: translateZ(-8vw);
    filter: blur(0.2vw);
    box-shadow: 0 0 120px indigo,
    0 0 200px indigo 
    0 0 300px indigo 
    0 0 400px indigo 
    0 0 500px indigo;
}
.cube3 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube3 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(indigo, plum);
    transform: rotatey(calc(90deg * var(--i))) translateZ(2.9vw);
}
.art{
    position: relative;
    top: -7vw;
}

ul{
    height: 3vw;
    padding-top: 0.5vw;
    display: flex;
    justify-content: space-around;
}
li{
    display: inline;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5vw;
    padding-top: 0.5vw;
}
li:hover{
    background-color: rgba(14, 13, 13, 0.959);
}
.logo{
    width: 100%;
    margin-top: 0.5vw;
    margin-left: 2vw;
}
.search{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    margin-left: 1vw;
}
.extra{
    position: fixed;
    height: 100%;
    width: 18.3vw;
    top: 0vw;
    clip-path: polygon(0% 0, 24% 0%, 24% 100%, 0% 100%);
    background-color: rgb(15, 15, 15);
    z-index: 1;
    display:inline-block;
    transition: all 1s;
}
.clipped{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 1s;
}
d{
    padding-left: 1.5vw;
}

.home{
    width:auto;
    height: 3.5vw;
    color: white;
    margin-top: 10.3vw;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.home:hover{
    background-color: rgb(42, 42, 42);
}
.paper{
    width:auto;
    height: 4.6vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.paper:hover{
    background-color: rgb(42, 42, 42);
} 
.music{
    width:auto;
    height: 4.5vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.music:hover{
    background-color: rgb(42, 42, 42);;
} 
.video{
    width:auto;
    height: 4.5vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.video:hover{
    background-color: rgb(42, 42, 42);
}
.stock{
    width:auto;
    height: 3.5vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.stock:hover{
    background-color: rgb(42, 42, 42);
}
.env{
    width:auto;
    height: 3.5vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.env:hover{
    background-color: rgb(42, 42, 42);
}
.sear{
    width:auto;
    height: 3.6vw;
    color: white;
    padding-left: 1.7vw;
    display: flex;
    justify-content:safe;
    align-items: center;
}
.sear:hover{
    background-color: rgb(42, 42, 42);
}

.na{
    width: 100%;
    height: 2.4vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    padding-top: 0.8vw;
    padding-left: 1vw;
    grid-area: na;
}
.mov{
    margin-left: 7vw;
    margin-top: 2vw;
    color: rgba(255, 255, 255, 0.74);
    font-size: 3vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.go{
    margin-left: 45vw;
    font-size: 1.5vw;
    color: white;
}
#place{
    width: 18vw;
    height: 2.5vw;
    background-color: black;
    border-radius: 0.2vw;
    border: 1px solid white;
    font-size: 1.6vw;
}
.cool{
    width: 19vw;
    height: 37vw;
    margin-left: 7vw;
    margin-top: 2vw;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 19vw 19vw 19vw;
    grid-template-rows: 37vw 25vw 37vw 36vw 37vw 37vw 37vw;
    grid-template-areas: 
    "boy girl son"
    "new new new"
    "an see din"
    "fin gon hen"
    "demon love mouse"
    "david attach thun"
    "with emp dirty"
    ;

}
.boy{
    grid-area: boy;
}
.thecard{
    width: 100%;
    height: 90%;
    transform-style:preserve-3d ;
    transition:all 3s ease; 
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thefront{
    width: 100%;
    height: 107%;
    backface-visibility:hidden;
    background-color: rgb(14, 14, 14);
    color: orangered;
    position: absolute;
    text-align: center;
    font-size: 1.5vw;
    font-family: serif;
    color: orangered; 
    font-weight: bold;
}
.theback{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color:black; 
    color: darkgray;
    position: absolute;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 1vw;
    font-family: "zilla slab", sans-serif;
    font-size: 2vw;
    padding-top: 16vw;
}
.thefront:hover{
    transform: scale(1.1);
}
.theback:hover{
    cursor: progress;
}
.girl{
    grid-area: girl;
}
.son{
    grid-area: son;
}
.new{
    background-color: rgba(0, 0, 0, 0.514);
    grid-area: new;
    width: 80%;
    margin-left: 5vw;
    height: 24vw;
    margin-top: 1vw;
}
.a{
    grid-area: an;
}
.s{
    grid-area: see;
}
.d{
    grid-area: din;
}
.fin{
    grid-area: fin;
}
.gon{
    grid-area: gon;
}
.hen{
    grid-area: hen;
}
.love{
    grid-area: love;
}
.demon{
    grid-area: demon;
}
.mouse{
    grid-area: mouse;
}
.david{
    grid-area: david;
}
.with{
    grid-area: with;
}
.emp{
    grid-area: emp;
}
.dirty{
    grid-area: dirty;
}
.attach{
    grid-area: attach;
}
.thun{
    grid-area: thun;
}
.side{
    grid-area: side;
    margin-top: 1vw;

}
.mail{
    background-color: darkgreen;
    grid-area: mail;
    height: 20vw;
    width: 93.2vw;
    margin-left: -2.7vw;
    margin-top: 3vw;
    
}
footer{
    grid-area: footer;
    height: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5vw;
    grid-template-areas: 
    "google link soc res "
    "cop cop cop cop"
    ;
}
.google{
    grid-area: google;
    display: grid;
    place-content: center;
    width: 14vw;
    padding-left: 5vw;
}

.link{
    grid-area: link;
}
.social{
    grid-area: soc;
}
.resources{
    grid-area: res;
}
.copy{
    grid-area: cop;
    margin-top: -5vw;
    margin-left: -5vw;
}
.nas{
    width: 60vw;
    margin-top: 1vw;
    height: 2.4vw;
    display:grid;
    margin-left: 7vw;
    grid-template-columns: 60vw 27vw;
    grid-gap: 2vw;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "na side"
    "mail mail"
    "footer footer"
    ;
}
.q{
    width: 22vw;
    height: 17vw;
    margin-left: 3vw;
}
.w{
    width: 22vw;
    height: 17vw;
    margin-left: 3vw;
    margin-top: 1vw;
}
.e{
    color: white;
    font-size: 3vw;
}
.r{
    width: 27vw;
    height: 58vw;
    background-color: black;
    border-radius: 1vw;
}
.t{
    width: 27vw;
    height: 54vw;
    background-color: red;
    border-radius: 1vw;
}
.i{
    font-size: 2vw;
    color: orangered;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid dimgray;
}
.ii{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    border-bottom: 2px solid red;
} 
.z{
    width: 5vw;
    padding-top: 0.5vw; 
    border-top: 2px solid dimgrey;
    margin-left: 1vw;
    font-size: 2vw;
}
.tx{
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.ii{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    border-bottom: 2px solid dimgray;
    display: flex;
    justify-content: space-between;
}
.ii{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    border-bottom: 2px solid dimgray;
    display: flex;
    justify-content: space-between;
}
.iii{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    border-bottom: 2px solid dimgray;
    display: flex;
    justify-content: space-between;
}
.iv{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    border-bottom: 2px solid dimgray;
    display: flex;
    justify-content: space-between;
}
.v{
    font-size: 1.5vw;
    color: orangered;
    text-align: center;
    font-weight:300;
    display: flex;
    justify-content: space-between;
}
.llj{
    width: 18vw;
    display: flex;
    margin-left: 19vw;
    font-size: 1.8vw;
    color: brown;
    text-align: center;
    align-items: center;
    font-family: serif;
    margin-top: 2vw;
}
#under{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.281);
    width: 3vw;
    height: 2.5vw;
    padding-top: 0.5vw;

}
#under:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#unde:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#und:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#un:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#underr:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#undery:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#underye:hover{
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}
#unde{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.281);
width: 3vw;
height: 2.5vw;
padding-top: 0.5vw;

}
#und{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.281);
width: 3vw;
height: 2.5vw;
padding-top: 0.5vw;
}
#un{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.281);
width: 3vw;
height: 2.5vw;
padding-top: 0.5vw;

}
#underr{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.281);
width: 3vw;
height: 2.5vw;
padding-top: 0.5vw;

}
#undery{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.281);
width: fit-content;
height: 2.5vw;
padding-top: 0.5vw;

}
#underye{
background-color: rgba(255, 255, 255, 0.171);
border: 1px solid rgba(255, 255, 255, 0.123);
width: 3vw;
height: 2.5vw;
padding-top: 0.5vw;

}
.lol{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-left: 2vw;
}
.email{
    width: 90%;
    height: 9vw;
    color: dimgray;
    border: 1px solid rgba(128, 128, 128, 0.587);
    padding-left: 2vw;
   background-color: rgb(15, 15, 15);
   border-radius: 1vw 0vw 0vw 1vw;
}
.sub{
    width: 20%;
    height: 9vw;
    font-size: 2vw;
    padding-left: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.27);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2vw;
    color: rgb(255, 255, 255);
    margin-top: 4vw;
    margin-left: 3vw;
}
h{
    font-size: 2vw;
    color: rgb(255, 255, 255);
    margin-left: 3vw;
}
.good{
 width: 100%;
 height:calc(338vw);
}
p{
    color: darkgray; 
    font-family: sans-serif;
    font-size: 1vw;
}
input{
    background: none;
    width: 103%;
    height: 100%; 
    font-size: 2vw;
    border: none;
    color: white;
    margin-left: -2vw; 
}
.vivi{
    color: rgba(255, 255, 255, 0.692); 
    font-size:1.3vw; 
    margin-top: 2vw;
}
@media screen and (max-width: 500px){
    body{
        height: 5000vw;
        display: grid;
        grid-gap: 29vw;
        grid-template-columns: 1fr;
        grid-template-rows: 39vw 6vw 40vw 40vw 40vw 40vw ;
        grid-template-areas:
        "spone"
        "nav"
        "queen"
        "name"
        "movv"
        "going"
        "cool"
        "bet"
        "rrr"
        "mail"
        "footer"
        ;
        overflow-x: hidden;
        
    }
    .lm{
        transform: scale(2.5);
        margin-left: 5vw;
    }
    .dm{
        transform: scale(2.5);
        margin-left: 10vw;
    }

    nav{
        height: 15vw;
        grid-area: nav;
        z-index: 5;
        
    }
    
    .spone{
        grid-area: spone;
        
        height:80vw ;
        position: relative;
        width: 100%;
        
    }

    .first{
        top: 20vw ;
        position: relative;
        width: 80vw;
        margin-left: 10vw;
    }
    .second{
        top: 30vw ;
        position: relative;
        width: 80vw;
        margin-left: 10vw;
    }
    .one{
        height: fit-content;
    }
    .first > img{
        transform: scaleY(2.2);
    
    }
    .second > img{
        transform: scaleY(2.2);
    }
    ul{
        display: none;
    }
    .drawertoggle{
      margin-left: 1vw;  
      width: 20vw;
    }
    .drawertoggle > img{
        transform: scale(1.5); 
        
    }
    .search{
        position: relative;
        margin-top: 1%;
        transform: scale(3);
        left: -5vw;
    }
    
    .logo > img{
        padding-right: -10vw;
        transform: scaleX(3);
        height: 80%;
        margin-left: 15vw;
        margin-top: 1vw;
    }
    .extra{
        transform: scale(2.5);
        width: 40vw;
        padding-left: 12vw;
        margin-top: 90vw;
    }
    .home{
        width:auto;
        height: 5vw;
        color: white;
        margin-top: 20vw; 
        display: flex;
        justify-content:safe;
        align-items: center;
        
    }
    .home:hover{
        background-color: rgb(42, 42, 42);
    }
    .paper{
        width:auto;
        height: 6vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .paper:hover{
        background-color: rgb(42, 42, 42);
    } 
    .music{
        width:auto;
        height: 7vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .music:hover{
        background-color: rgb(42, 42, 42);;
    } 
    .video{
        width:auto;
        height: 7vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .video:hover{
        background-color: rgb(42, 42, 42);
    }
    .stock{
        width:auto;
        height: 7vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .stock:hover{
        background-color: rgb(42, 42, 42);
    }
    .env{
        width:auto;
        height: 6vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .env:hover{
        background-color: rgb(42, 42, 42);
    }
    .sear{
        width:auto;
        height: 5vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .sear:hover{
        background-color: rgb(42, 42, 42);
    }
    
    .q{
        grid-area: queen;
        position: relative;
        transform: scale(3.5);
        margin-top: 15vw;
        left: -36vw;
        top: 10vw;
        display: flex;
        align-items: center;
    }
    .na{
        transform: scale(1.1);
        grid-area: name;
        height: 10vw;
        display: flex;
        align-items: center;
        width: 81vw;
        background-color: rgb(16, 15, 15);
        position: relative;
        top: -960vw;
        left: -92vw;
        font-size: 4vw;
    }
    .mov{
        transform: scale(2.5);
        grid-area: movv;
        position: absolute;
        top: 200vw;
        left: 4vw;
    }
    .go{
        transform: scale(3);
        grid-area: going;
        position: absolute;
       
        top: 220vw;
    }
    .cool{
        left: 5vw;
        transform: scale(2.25);
        grid-area: cool;
        position: relative;
        top: 155vw;
        display:grid;
        margin-left: 12vw;
        row-gap: 74vw;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "boy"
        "girl"
        "son"
        "an" 
        "see" 
        "din"
        "fin"
        "gon"
        "hen"
        "demon"
        "love"
        "mouse"
        "david"
        "attach"
        "thun"
        "with" 
        "emp" 
        "dirty"

        ;

    }
    .theback{
        height: 70vw;
        font-size: 4vw;
    }
    .thefront{
        font-size: 3vw;
        height: fit-content;
    }
    p{
        font-size: 2.4vw;
    }
    
    .cube{
      display: none;
    }
    .cube4{
        display: none;
    }
    .new{
        display: none;
    }
    .w{
        transform: scale(3);
        position: relative;
        left: -37vw;
        top: 3290vw;
        grid-area: bet;
    }
    .e{
        width: fit-content;
        position: relative;
        left: -40vw;
        top: 3330vw;
        transform: scale(2.5);
        font-size: 3.5vw;
    }
    .r{
        
        grid-area: rrr;
        top: 3386vw;
        position: relative;
        left: -43vw;
        margin-bottom: 120vw;
        width: 160%;
        height:103vw ;
        transform: scale(2);  
    }
    .i{
        font-size: 3vw;
    }
    .ii{
        font-size: 2.5vw;
    }
    .iii{
        font-size: 2.5vw;
    }
    .iv{
        font-size: 2.5vw;
    }
    .v{
        font-size: 2.5vw;
    }
    .vivi{
        color: rgba(255, 255, 255, 0.692); 
        font-size:2.2vw; 
        margin-top: 2vw;
    }
    .llj{
        transform: scale(1.6);
        position: relative;
        left: -10vw;
        top: 2vw;
    }
    #under{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    #unde{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    #und{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    }
    #un{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    #underr{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    #undery{
        background-color: rgba(255, 255, 255, 0.171);
        border: 1px solid rgba(255, 255, 255, 0.281);
    width: 4vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    #underye{
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid rgba(255, 255, 255, 0.123);
    width: 3vw;
    height: 4vw;
    padding-top: 0.5vw;
    
    }
    .center{
        font-size: 4vw;
    }
    .mail{
        position: relative;
        padding-left: 3vw;
        top: 3323vw;
        height: 58vw;
        width:105%;
        left: -3vw;
    }
    h1{
       font-size: 5vw;
    }
    .lol{
        display: block;
    }
    .email{
        height: 20vw;
        margin-bottom: 2vw;
    }
    input{
        background: none;
        width: 102%;
        height: 100%; 
        font-size: 5vw;
        border: none;
        color: white;
        margin-left: -2vw; 
    }
    
    .sub{
        font-size: 5vw;
        margin-left: 25vw;
        width: fit-content;
        height: 17vw;
        
    }
    .sub > img{
        width: 90%;
        height: 90%; 
    }
    footer{
        top: 3350vw;
        width: 20vw;
        position: relative;
        grid-area: footer;
        right: 0;
        margin: auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "google"
        "link"
        "soc"
        "res"
        "cop"
        ;
        transform: scale(3);
    } 
    .log{
        width: 20vw;
        margin-top: 9vw;
 
    }
    .art{
        top: 3vw;
        left: -7vw;
        right: 0;
        margin: auto;
        transform: scale(1.5);
        
    }
}
@media screen and (max-width: 380px){
    .na{
        transform: scale(1.1);
        grid-area: name;
        height: 10vw;
        display: flex;
        align-items: center;
        width: 81vw;
        background-color: rgb(16, 15, 15);
        position: relative;
        top: -957vw;
        left: -92vw;
        font-size: 4vw;
    }
    .extra{
        transform: scale(2);
        width: 50vw;
        padding-left: 12vw;
        margin-top: 113vw;
    }
    .home{
        width:auto;
        height: 7vw;
        color: white;
        margin-top: 25vw; 
        display: flex;
        justify-content:safe;
        align-items: center;
        
    }
    .home:hover{
        background-color: rgb(42, 42, 42);
    }
    .paper{
        width:auto;
        height: 8vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .paper:hover{
        background-color: rgb(42, 42, 42);
    } 
    .music{
        width:auto;
        height: 9vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .music:hover{
        background-color: rgb(42, 42, 42);;
    } 
    .video{
        width:auto;
        height: 9vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .video:hover{
        background-color: rgb(42, 42, 42);
    }
    .stock{
        width:auto;
        height: 9vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .stock:hover{
        background-color: rgb(42, 42, 42);
    }
    .env{
        width:auto;
        height: 8vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .env:hover{
        background-color: rgb(42, 42, 42);
    }
    .sear{
        width:auto;
        height: 7vw;
        color: white;
        padding-left: 1.7vw;
        display: flex;
        justify-content:safe;
        align-items: center;
    }
    .sear:hover{
        background-color: rgb(42, 42, 42);
    }
    .llj{
        position: relative;
        left: -10vw;
        top: -2vw;
    }
    .w{
        transform: scale(3);
        position: relative;
        left: -37vw;
        top: 3370vw;
        grid-area: bet;
    }
    .r{
        
        grid-area: rrr;
        top: 3450vw;
        position: relative;
        left: -40vw;
        margin-bottom: 120vw;
        width: 140%;
        height:100vw ;
        transform: scale(2);  
    }
    .e{
        width: fit-content;
        position: relative;
        left: -45vw;
        top: 3398vw;
        transform: scale(2);
        font-size: 3.5vw;
    }
    .mail{
        position: relative;
        top: 3390vw;
        height: 65vw;
        width: 94vw;
        left: -4vw;
        
    }
    footer{
        top: 3420vw;
        width: 20vw;
        position: relative;
        grid-area: footer;
        right: 0;
        margin: auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "google"
        "link"
        "soc"
        "res"
        "cop"
        ;
        transform: scale(3);
    } 
}

